@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  color: #000;
  outline: none;
  border: 1px solid purple;
  padding: 0px 7px;
}
